/bin
/build

*.user
*.suo
*.sdf
*.opensdf
*.aps
*.db
*.opendb
*.obj

src/version_c.h

/ipch
Debug
Release
MinSizeRel
RelWithDebInfo
/.vs
/CMakeCache.txt
/CMakeFiles
cmake_install.cmake
/out
/src/CMakeFiles
